.contactsContainer{
    background-color: #2a2e3f;
    padding-top: 3em;
    padding-bottom: 10em;
}

.contactsPhone{
    color: snow;
    text-align: center;
    font-size: 1.05em;
}
.contactsEmail{
    color: snow;
    text-align: center;
    font-size: 1.05em;
}