#stickyNav{
    position: sticky;
}

body nav{
    top: 0;
    width: 100%;
    margin-bottom: 0spx;
    font-weight: bold;
    box-shadow: 0px 5px 20px black;
    z-index: 100;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav .brandName{
    font-size: 36px;
    color: white;
}

nav .navText{
    color: white;
    font-size: 18px;
}

nav .email{
    color: snow;
    font-weight: bold;
    padding-right: 20px;
    font-size: 18px;
}

nav .email a{
    color: snow;
    font-weight: bold;
    padding-right: 20px;
    font-size: 18px;
}

nav .email a:hover{
    color: black;
}

nav .phone a{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

nav .phone a:hover{
    color: black;
}

a{
    text-decoration: none;
}