.sectionBackground{
    background-image: url("/pictures/background.jpg");
    background-repeat: space;
    background-size: 100%;
}

.brandTitle{
    font-size: 64px;
    font-weight: bold;
    color: black;
    padding-bottom: 1em;
}