.introductionText{
    font-size: 3em;
    text-align: center;
}

.callmeText{
    font-size: 2rem;
    text-align: center;
    color: snow;
    padding-bottom: 1.5em;
}

@media screen and (max-width : 720px)
{
  .introductionText
  {
    font-size: 2em;
  }
}