.contactsContainer{
    background-color: #2a2e3f;
    padding-top: 2em;
    padding-bottom: 2em;
}

.contactsPhone{
    color: snow;
    text-align: center;
    font-size: 1.2em;
}

.contactsPhone span{
    font-weight: bold;
}

.contactsEmail{
    color: snow;
    text-align: center;
    font-size: 1.2em;
}

.contactsEmail span{
    font-weight: bold;
}