#stickyNav{
    position: sticky;
}

body nav{
    top: 0;
    width: 100%;
    background-color: rgb(0, 102, 255); 
    margin-bottom: 0spx;
    font-weight: bold;
    box-shadow: 0px 2px 50px;
    z-index: 100;

}

nav .brandName{
    font-size: 36px;
    color: white;
}

nav .navText{
    color: white;
    font-size: 18px;
}

nav .email{
    color: white;
    font-weight: bold;
    padding-top: 8px;
    padding-right: 20px;
    font-size: 16px;
    padding-bottom: 8px;
}

nav .phone a{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

nav .phone a:hover{
    color: black;
}

a{
    text-decoration: none;
}